:root {
  --color-primary: #0067D1;
  --color-primary-hover: #0050A8;
  --color-primary-active: #004EA8;
  --color-primary-light: #EEF3FE;

  --color-surface: #F3F3F3;
  --color-surface-bright: #FFFFFF;
  --color-surface-container: #FFFFFF;
  --color-on-surface: #191919;
  --color-on-surface-variant: #777777;

  --color-error: #E02128;
  --color-error-container: #FEE7E8;
  --color-success: #09AA71;
  --color-success-container: #E7FBF2;
  --color-warning: #FCC800;
  --color-warning-container: #FEFCE0;
  --color-critical: #F4840C;
  --color-critical-container: #FEF5E8;
  --color-info: #2070F3;
  --color-info-container: #EEF3FE;

  --color-outline: #C9C9C9;
  --color-outline-variant: #DFDFDF;
  --color-divider: #DFDFDF;
  --color-content-placeholder: #AEAEAE;
  --color-content-disabled: #C9C9C9;

  --shadow-card: 0px 1px 6px 0 rgba(0, 0, 0, 0.08);
  --shadow-base: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.08);
  --shadow-popover: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
  --shadow-modal: 0 16px 48px 0 rgba(0, 0, 0, 0.16);

  --radius-xs: 2px;
  --radius-base: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-full: 9999px;
}
